    <!-- Start contact section -->
    <section id="contact" class="contact-section section-gap">
        <div class="container">
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                    <h1>{{ site.contact_title }}</h1>
                    <p>
                       {{ site.contact_description }}
                    </p>
                </div>
            </div>

                <div class="col-lg-12 col-md-12 contact-center">
                    <form class="form-area contact-form" id="myForm" action="https://formspree.io/xoqkrnvg" method="post">
                        <label for="">Your Name</label>
                        <input name="name" autocomplete="name" placeholder="Enter your name" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control"
                            required="" type="text">

                        <label for="">Email Address</label>
                        <input name="email" autocomplete="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control"
                            required="" type="email">

                        <label for="">Subject</label>
                        <input name="subject" autocomplete="subject" placeholder="Enter subject" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Enter subject'" class="common-input mb-20 form-control"
                            required="" type="text">

                        <label for="">Message</label>
                        <textarea class="common-textarea form-control" cols="30" rows="7" name="message" autocomplete="message"
                            placeholder="Enter Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Messege'"
                            required=""></textarea>
                        <div class="">
                            <button class="genric-btn mt-30" id="submitbtn">Send Message</button>
                            <p id="status"></p>
                        </div>
                    </form>
                    <script>
  window.addEventListener("DOMContentLoaded", function() {

    // get the form elements defined in your form HTML above
    
    var form = document.getElementById("myForm");
    var button = document.getElementById("submitbtn");
    var status = document.getElementById("status");

    // Success and Error functions for after the form is submitted
    
    function success() {
      form.reset();
      button.style = "display: none ";
      status.innerHTML = "Thanks!";
    }

    function error() {
      status.innerHTML = "Oops! There was a problem.";
    }

    // handle the form submission event

    form.addEventListener("submit", function(ev) {
      ev.preventDefault();
      var data = new FormData(form);
      ajax(form.method, form.action, data, success, error);
    });
  });
  
  // helper function for sending an AJAX request

  function ajax(method, url, data, success, error) {
    var xhr = new XMLHttpRequest();
    xhr.open(method, url);
    xhr.setRequestHeader("Accept", "application/json");
    xhr.onreadystatechange = function() {
      if (xhr.readyState !== XMLHttpRequest.DONE) return;
      if (xhr.status === 200) {
        success(xhr.response, xhr.responseType);
      } else {
        error(xhr.status, xhr.response, xhr.responseType);
      }
    };
    xhr.send(data);
  }
</script>
                </div>
                
            </div>
        </div>
    </section>
    <!-- End contact section -->