
    <!-- Start price section -->
    <section id="pricing" class="price-section section-gap">
        <div class="container">
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                    <div class="title-img">
                        <img src="{{ site.img/title-icon.png }}" alt="">
                    </div>
                    <h1>{{ site.pricing-table-title }}</h1>
                    <p>
                        {{ site.pricing-table-description }}
                    </p>
                </div>
            </div>
            <div class="row">
                

                <div class="col-lg-8">
                    <img src="img/MomHeadshot.jpg" alt="Mom" width="300" height="355">
          <div>Maribel Agredo</div>
          <div><a href="https://www.linkedin.com/in/maribel-agredo-478b686b/">Check Out My LinkedIn!</a></div>
                </div>

                <div class="col-lg-4">
                    <img src="img/diana.jpeg" alt="Mom" width="300" height="355">
          <div>Diana Vargas</div>
          <div><a href="https://www.linkedin.com/in/addianav/">Check Out My LinkedIn!</a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End price section -->